<link rel="stylesheet" href="messages.css">

<div class="wrapper">
  <div class="side-bar">
      <%= render "side_bar"%>
  </div>
  
  <div class="chat">
    <div class="chat-header"> 
      <%= render "main_chat"%>
      <div class="form">
      
      </div>
    </div>
  </div>
</div>